<p>Welcome to Gif Generator, <%= current_user.username %></p>
<%= link_to "Favorites", favorites_path %>
<%= link_to "Logout", logout_path, method: :delete %>

<h1>All Gifs</h1>

<% @gifs.each do |category, gifs_array| %>
  <h2><%= category.name %></h2>
    <% gifs_array.each do |gif| %>
      <%= image_tag gif.image_path %>
      <%= link_to "View Gif", gif_path(gif) %>
    <% end %>
<% end %>
