<h4>Welcome to GifGenerator, <%= current_user.username %></h4>
<%= link_to "Generate New Gif", new_admin_gif_path %>
<%= link_to "All Gifs", admin_gifs_path %>
<%= link_to "Logout", logout_path, method: :delete %>

<h1>All Gifs</h1>

<% @gifs.each do |category, gifs_array| %>
  <h2><%= link_to category.name, admin_category_path(category) %></h2>
    <% gifs_array.each do |gif| %>
      <%= image_tag gif.image_path %>
      <%= link_to "View Gif", admin_gif_path(gif) %>
    <% end %>
<% end %>
